# IDE files ################################################################################

**/.idea/
**/.vs/
**/.vscode/


# Logs ####################################################################################

**/log/
**/logs/


# Distribution ############################################################################

**/dist/


# Node.js & NPM ###########################################################################

**/node_modules/
**/npm-debug.log
**/yarn.lock
**/yarn-error.log
